{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordinals Archive</title>
    <link rel="icon" href="/static/images/favicon.png">
    <link href="/static/dist/tailwind.css" rel="stylesheet">
    <link href="/static/dist/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
  </head>
  <body class="bg-[#fff3cd] dark:bg-black dark:text-white transition-colors">
    <div class="flex">
      <a href="/">
        <h1 class="text-5xl font-anton">Archive</h1>
      </a>
      <div class="grow ml-2">
        <form action="/" method="get" hx-get="/" hx-target="#content">
          <div class="text-xl">
            <input hx-trigger="input changed delay:300ms, keyup[key=='Enter']" hx-get="/" hx-target="#content" hx-push-url="true"
              name="q" 
              class="w-full p-2 border-b-2 border-black dark:border-pink-500 search" 
              type="text" placeholder="search the Bitcoin blockchain"/>
          </div>
        </form>
      </div>
      <button title="Toggle dark mode"
        class="h-8 w-8 m-auto cursor-pointer">
        <i class="fa-solid fa-moon text-2xl"></i>
      </button>
    </div>
    <div class="p-4 m-4" id="content">
      {% block content %}
      {% include "components/results.html" with results=results%}
      {% endblock %}
    </div>
    <script src="/static/dist/htmx.min.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>