{% extends "base.html" %}

{% block content %}
<div class="flex flex-col w-full items-center justify-center min-w-xs">
  <div class="w-full max-w-3xl mt-4 px-4">
    <h2 class="text-3xl font-anaheim">Content</h2>
    <p>Type: {{ object_type }}</p>
    <p>Content Type: {{ content_type }}</p>
    <p>Size: {{ content_size }}</p>
  </div>

  <div class="w-full max-w-3xl px-4 mt-4">
    <div class="max-w-[576px] max-h-[576px] min-w-[180px] min-h-[180px] m-auto border border-zinc-900 dark:border-lime-500">
      <!-- Content -->
      <div class="text-lg text-black dark:text-white font-mono  break-all bg-gray-50 dark:bg-zinc-900" id="content-text">
        {% if content_text %}
        <div class="p-4">
          {{ content_text }}
        </div>
        {% elif content_src %}
        <img src="{{ content_src }}" class="w-full h-full pointer-events-none"/>
        {% else %}
        No content available
        {% endif %}
      </div>
    </div>
  </div>

  <div class="w-full max-w-3xl px-4 mt-4">
    <div class="flex justify-between">
      <h3 class="text-3xl font-anaheim">Context</h3>
      <div class="flex gap-2">
        <button class="flex cursor-pointer" id="context_edit">
          <span class="my-auto">Edit</span>
          <i class="fa-solid fa-pen-to-square my-auto"></i>
        </button>
        <button class="cursor-pointer hidden" id="context_save">
          <span class="my-auto">Save</span>
          <i class="fa-solid fa-bolt my-auto"></i>
        </button>
        <button class="cursor-pointer hidden" id="context_cancel">
          <span class="my-auto">Cancel</span>
          <i class="fa-solid fa-rotate-left my-auto"></i>
        </button>
      </div>
    </div>
    
    {% include "components/context_editor.html" %}
  </div>
  

  <div class="w-full max-w-3xl px-4 mt-4">
    <h3 class="text-3xl font-anaheim">Details</h3>
    <div class="w-full max-w-3xl px-4 mt-4">
      <ul class="list-disc">
        <li>
          Found in
          <a class="text-blue-600 hover:text-blue-800" 
            href="/block/{{ blockheaderhash }}">Block {{ blockheight }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
