@font-face {
  font-family: "Anton";
  src: url("../fonts/Anton/Anton-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Anaheim";
  src: url("../fonts/Anaheim/Anaheim-VariableFont_wght.ttf") format("truetype");
}

.font-anton {
  font-family: "Anton", Arial, Helvetica, sans-serif;
}

.font-anaheim {
  font-family: "Anaheim", Arial, Helvetica, sans-serif;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

/* Quill editor styles */
.ql-editor {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  /* resize: vertical; */
  overflow: auto;
}

.ql-toolbar {
  background-color: #18181b;
}

/* Hide Quill snow theme border in context editor */
#context_editor_container .ql-container.ql-snow {
  border: none !important;
}

.dark .triangle-svg-filter {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(18deg) brightness(107%) contrast(102%) !important;
}